.button {
  padding: 8px 16px;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #2196f3;
  color: #fff;
  transition: all .15s ease-in-out;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
