.admin-page {

  .title {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: #2c2c2c;
    margin: 30px 0;
  }

  &__content {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 15px;
    margin: 30px 0;
  }
}
